.git
.github
.idea
.local
.serena
.vscode
.env
.env.*
!.env.example
!.env.production.example
node_modules
vendor
storage/app/private/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
*.log
.phpunit.result.cache
