version: '3.8'

services:
  app:
    build: .
    image: sistema_frequencia_app
    container_name: sistema_frequencia_app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
      - APP_URL=http://localhost:8000
      - DB_CONNECTION=pgsql
      - DB_HOST=db
      - DB_PORT=5432
      - DB_DATABASE=frequencia
      - DB_USERNAME=postgres
      - DB_PASSWORD=1234
    depends_on:
      - db

  web:
    image: nginx:1.23-alpine
    container_name: sistema_frequencia_web
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

  db:
    image: postgres:15
    container_name: sistema_frequencia_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: frequencia
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db-data:
    driver: local
